.userExpense {
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    text-align: center;
}
.addFinance {
    display: flex;
}
h1 {
    text-align: center;
    margin: 20px 0;
}
.amountWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}